@charset "UTF-8";
@font-face {
  font-family: 'nibdings';
  font-weight: normal;
  font-style: normal;
  src: url("node_modules/@nib-styles/v2-icons/dist/fonts/nibdings.eot");
  src: url("node_modules/@nib-styles/v2-icons/dist/fonts/nibdings.eot?#iefix") format("eot"), url("node_modules/@nib-styles/v2-icons/dist/fonts/nibdings.woff") format("woff"), url("node_modules/@nib-styles/v2-icons/dist/fonts/nibdings.ttf") format("truetype"), url("node_modules/@nib-styles/v2-icons/dist/fonts/nibdings.svg#nibdings") format("svg"); }

.carousel-prompt {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  font-size: 12px;
  color: inherit;
  color: #888;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase; }
  .carousel-prompt__icon {
    position: relative;
    top: -1px;
    margin-right: 5px !important;
    font-style: normal; }
  .carousel-prompt__icon--left:before {
    font-family: 'nibdings';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    content: "";
    display: inline-block;
    transform: rotate(180deg); }
  .carousel-prompt__icon--right:before {
    font-family: 'nibdings';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    content: ""; }
  @media (min-width: 40em) {
    .carousel-prompt {
      display: none; } }

.slider-decorator-0,
.slider-decorator-1 {
  right: 0 !important; }

.slider-decorator-2 {
  display: none !important; }

.carousel__arrow {
  position: absolute;
  width: 42px;
  height: 84px;
  top: 39px !important;
  font-size: 0;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  pointer-events: auto; }
  .carousel__arrow--prev {
    left: -1px; }
  .carousel__arrow--next {
    right: -1px;
    transform: rotate(180deg); }

.semicircle {
  fill: #fff;
  stroke: transparent;
  transition: stroke ease-in-out .2s; }

.arrow {
  fill: #444;
  transition: fill ease-in-out .2s; }

.carousel__arrow:hover .arrow {
  fill: #009623; }

.carousel__arrow:active .arrow {
  fill: #00991b; }

.carousel__arrow:active .semicircle {
  fill: #ddd; }

.stuck-arrows {
  height: 124px;
  pointer-events: none;
  z-index: 1; }
  .stuck-arrows .semicircle {
    stroke: #444; }

.slider-list {
  cursor: inherit !important; }

@media (min-width: 750px) {
  .product-carousel--hide-controls-desktop .slider-list {
    transform: none !important;
    transition: none !important;
    margin: 0 auto !important; }
  .product-carousel--hide-controls-desktop .carousel__arrow {
    display: none !important; } }

.ghost-product {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  font-size: 14px;
  color: inherit;
  color: #666;
  box-sizing: border-box;
  background: #ddd;
  border: 2px dashed #bababa;
  width: 230px;
  word-wrap: break-word; }

.slider-list {
  display: flex !important; }

.slider-slide {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  display: flex !important;
  justify-content: center; }
